.header {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.profile_basket {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 60px;
}

.profile_basket img {
    width: 40px;
    height: auto;
    display: block;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease-in-out;
}

.profile_basket img:hover {
    filter: invert(64%) sepia(93%) saturate(749%) hue-rotate(2deg) brightness(90%) contrast(110%);
}

.profile_basket.hide {
    display: none;
}

.nav-menu-toggle {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 102;
    transition: transform 0.3s ease-in-out;
}

.nav-menu-toggle {
    transition: transform 0.3s ease-in-out;
}

.nav-menu.open ~ .nav-menu-toggle {
    transform: rotate(45deg);
}
.nav-menu {
    visibility: hidden;
    background: linear-gradient(to bottom right,rgba(73, 35, 180, 1),rgba(232, 120, 207, 1) );
    list-style-type: none;
    position: fixed;
    padding: 1.5rem;
    inset: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    gap: 20px;
    transition: visibility 0s 0.3s, opacity 0.5s ease-in-out;
    opacity: 0;
}

.nav-menu.open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-in;
}
.nav-menu li {
    position: relative;
    margin: 0 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
    padding: 10px;
    transition: 0.3s;
    line-height: 1;
}

.nav-menu li a:hover {
    color: #ff6600;
    opacity: 1;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    border-radius: 5px;
    z-index: 100;
    height: auto;
    min-width: 300px;
    max-width: 100vw;
}

.dropdown-menu-prices {
    position: absolute;
    top: 100%;
    left: 0;
    background: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    border-radius: 5px;
    z-index: 100;
    height: auto;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-column {
    margin-right: 20px;
}

.dropdown-column h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.dropdown-column a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 0;
}

.dropdown-column a:hover {
    color: #ff6600;
}

.logo {
    width: 40px;
    height: auto;
    padding-left: 25px;
}

.courses a,
.prices a {
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses a:hover,
.prices a:hover {
    transition: 0.3s;
    color: #ffffff;
}

@media screen and (min-width: 600px) {
    .header {
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
    }

    .profile_basket {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 60px;
        gap: 20px;
    }

    .profile_basket img {
        width: 50px;
        height: auto;
        display: block;
        filter: brightness(0) invert(1);
        transition: filter 0.3s ease-in-out;
    }

    .profile_basket img:hover {
        filter: invert(64%) sepia(93%) saturate(749%) hue-rotate(2deg) brightness(90%) contrast(110%);
    }

    .profile_basket.hide {
        display: none;
    }

    .nav-menu-toggle {
        background: none;
        border: none;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 102;
        transition: transform 0.3s ease-in-out;

    }

    .nav-menu-toggle {
        transition: transform 0.3s ease-in-out;
    }

    .nav-menu.open ~ .nav-menu-toggle {
        transform: rotate(45deg);
    }
    .nav-menu {
        visibility: hidden;
        background: linear-gradient(to bottom right,rgba(73, 35, 180, 1),rgba(232, 120, 207, 1) );
        list-style-type: none;
        position: fixed;
        padding: 1.5rem;
        inset: 0;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 8rem;
        gap: 20px;
        transition: visibility 0s 0.3s, opacity 0.5s ease-in-out;
        opacity: 0;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-menu li a {
        text-decoration: none;
        color: #ffffff;
        opacity: 0.8;
        padding: 10px;
        transition: 0.3s;
    }

    .nav-menu li a:hover {
        color: #ff6600;
        opacity: 1;
    }

    .logo {
        width: 70px;
        height: auto;
        padding-left: 50px;
    }

    .courses a,
    .prices a {
        padding: 10px 20px;
        color: #ffffff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .courses a:hover,
    .prices a:hover {
        transform: scale(1.1);
        transition: 0.3s;
        color: #ffffff;
    }
}
@media screen and (max-width: 1023px) {
    .header{
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
    }
    .nav-menu {
        visibility: hidden;
        position: fixed;
        inset: 0;
        background-color: chocolate;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8rem;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.5s ease-in-out;
    }
    .nav-menu.open {
        visibility: visible;
        opacity: 1;
    }
    .nav-menu-toggle {
        display: block;
    }
}

@media screen and (min-width: 1024px) {



    .nav-menu-toggle {
        display: none;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        list-style: none;
        background: transparent;
        align-items: center;
        flex-direction: row;
        top: -50px;
        position: relative;
        margin-left: 200px;
    }
}
@media screen and (min-width: 1920px){
    .nav-menu {
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
        list-style: none;
        background-color: rgba(210, 105, 30, 0);
        align-items: center;
        flex-direction: row;
        top: -40px;
        position: relative;
        margin-left: 524px;
    }
}

